# NHP lang idk

cd rabbit-browser

# .lilal

git add .
git commit -m "🐰 Rabbit Browser - NHPLang & T# Support"

# idk
git remote add origin https://github.com/jatinthelord/rabbit-browser.git
git branch -M main
git push -u origin main
